<div class="container">
    <div class="col-12 mb-4 mt-4">
        <h1>Renovar Empréstimo</h1>
    </div>
    <div class="row col-12">
        <div class="col-10 mt-5">
            <input type="checkbox" style="width: 20px; height: 20px;">
            <label style="font-size: 20pt;">Eu me chamo Antônio</label>
        </div>

    </div>
    <div class="row col-12">
        <div class="col-10">
            <input type="checkbox" style="width: 20px; height: 20px;">
            <label style="font-size: 20pt;">Eu me chamo Antônio</label>
        </div>
    </div>
    <div class="row col-12">
        <div class="col-10">
            <input type="checkbox" style="width: 20px; height: 20px;">
            <label style="font-size: 20pt;">Eu me chamo Antônio</label>
        </div>
    </div>
    <div class="row col-12 justify-content-center">
        <div class="row col-3 ">
            <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Renovar</button>
        </div>
    </div>
</div>