<div class="container">
    <div class="col-12 mb-4 mt-4">
        <h1>Emprestar Livros</h1>
    </div>
    <div class="row col-12">
        <div class="col-12 mt-4">
            <h4>Reservados</h4>
        </div>
        <div class="col-10">
            <input type="checkbox" style="width: 20px; height: 20px;">
            <label style="font-size: 20pt;">Eu me chamo Antônio</label>
        </div>
    </div>
    <div class="row col-12">
        <div class="col-10">
            <input type="checkbox" style="width: 20px; height: 20px;">
            <label style="font-size: 20pt;">Eu me chamo Antônio</label>
        </div>
    </div>
    <div class="row col-12">
        <div class="col-10">
            <input type="checkbox" style="width: 20px; height: 20px;">
            <label style="font-size: 20pt;">Eu me chamo Antônio</label>
        </div>
    </div>
    <div class="row col-12 justify-content-left">
        <div class="row col-3 ">
            <button class="btn btn-lg btn-primary btn-block mt-5 ml-3" type="submit">Adicionar +</button>
        </div>
    </div>
    <div>
        <form action="" method="GET" class="row mt-3">
            <div class="col-12">
                <input type="text" class="form-control mt-2 ml-3" name="q" placeholder="Adicione por título, autor, isbn..." />
                <input type="text" class="form-control mt-2 ml-3" name="q" placeholder="Adicione por título, autor, isbn..." />
            </div>
        </form>
    </div>
    <div class="row col-12 justify-content-center">
        <div class="row col-3 ">
            <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Emprestar</button>
        </div>
    </div>
</div>