<!--Essa página de empréstimo é do usuário-->
<div class="container">
    <div class="col-8 mb-4 mt-4">
        <h1>Meus Empréstimos</h1>
    </div>
    <section class="mt-4 row ">
        <div class="col-3,5 mb-4 ">
        <div class="card" style="width: 20rem; height: 25.9rem;">
            <img class="card-img-top " src="img/img-1.jpg" alt="Card image cap" style="width: 320px;">
        </div>
        </div>
        <div class="col-8,5 mb-4 ml-2 ">
        <div class="card" style="width: 26.5rem; height: 25.9rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Título aqui</li>
                <li class="list-group-item">Autor aqui</li>
                <li class="list-group-item">ISBN aqui</li>
                <li class="list-group-item" style="max-height: 21rem; overflow-y: scroll;"><h5>Descrição</h5>Algum exemplo do livro aqui, Algum exemplo do livro aqui Algum exemplo do livro aqui, 
                Algum exemplo do livro aqui, Algum exemplo do livro aqui Algum exemplo do livro aqui, 
                Algum exemplo do livro aqui, Algum exemplo do livro aqui Algum exemplo do livro aqui, 
                Algum exemplo do livro aqui, Algum exemplo do livro aqui Algum exemplo do livro aqui, ...
                Algum exemplo do livro aqui, Algum exemplo do livro aqui Algum exemplo do livro aqui, ...
                </li>
            </ul>
        </div>
        </div>
        <div class="col-8 card">
        <h4>Situação:</h4>
        <p>Data de empréstimo: 11/04/2017<amet class=""></amet></p>
        <p>Data de vencimento: 18/04/2017<amet class=""></amet></p>
        </div>
    </section>
    <div class="row">
        <div class="col-12 text-center mt-5">
            <a href="#" class="btn btn-primary">Ver mais</a>
        </div>
    </div>
</div>