<div class="container">
    <div class="col-12 mb-4 mt-4">
        <h1>Pagamentos Pendentes</h1>
    </div>
    <div class="row col-12">
        <div class="col-10 mt-5">
            <input type="checkbox" style="width: 20px; height: 20px;">
            <label style="font-size: 20pt;">Eu me chamo Antônio</label>
        </div>
        <div class="col-2 mt-5 justify-content-end">
            <button class="btn btn-sm btn-primary btn-block mt-1" type="submit">2ª Via</button>
        </div>
    </div>
    <div class="row col-12">
        <div class="col-10">
            <input type="checkbox" style="width: 20px; height: 20px;">
            <label style="font-size: 20pt;">Eu me chamo Antônio</label>
        </div>
        <div class="col-2 justify-content-end">
            <button class="btn btn-sm btn-primary btn-block mt-1" type="submit">2ª Via</button>
        </div>
    </div>
    <div class="row col-12">
        <div class="col-10">
            <input type="checkbox" style="width: 20px; height: 20px;">
            <label style="font-size: 20pt;">Eu me chamo Antônio</label>
        </div>
        <div class="col-2 justify-content-end">
            <button class="btn btn-sm btn-primary btn-block mt-1" type="submit">2ª Via</button>
        </div>
    </div>
    <div class="row col-12 justify-content-center">
        <div class="row col-3 ">
            <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Dar Baixa</button>
        </div>
    </div>
</div>